*{
    padding: 0PX;
    MARGIN:0px;
    text-decoration:none;
    list-style:none;
    box-sizing:border-box;

}
label1{
    background-image:url("carecenteral.logo1.jpg") no-repeat;
    background-size:cover;
}

body{
    font-family:montserrat;

}
nav{
    background-color:#0082e6;
    height:80px;
    width:100%;
}


#one{
    color:white;
    font-size:35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight:bold;

}
nav ul{
    float:right;
    margin-left:20px;
}
nav ul li{
    display:inline-block;
    line-height:80px;
    margin: 0 5px;

}
nav ul li a{
    color:white;
    font-size:17px;
    padding: 7px 13px;
     border-radius: 3px;
    text-transform:uppercase;

}
a.active,a:hover{
    background-color:#1b9bff;
    transition:.5s;
}
checkbtn{
    font-size:30px;
    color:white;
    float:right;
    line-height:80px;
    margin-left:40px;
    cursor:pointer;
    display:none;
}
#check{
    display:none;
}
@media (max-width:952px){
    #one{
        font-size:30px;
        padding-left:50px;
    }
    nav ul li a{
        font-size:16px;
    }
}
@media (max-width:858px){
.checkbtn{
    display:block;
}
ul{
    position:fixed;
    width:100%;
    height:100vh;
    background-color:#2c3350;
    top:80px;
    left:-100px;
    text-align:center;
    transition:all .5s;
}
nav ul li{
    display:block;
}
nav ul li a{
    font-size:20px;
}
a:hover,a.active{
    background-color:none;
    color:#0082e6;
}
#check:checked ~ ul{
    left:0px;
}
}
section{
    background:url("baground.jpeg") no repeat;
    background-size:cover;
    height:calc(100vh-80px);
    width:100%;
}
p{
    font-family: 'Courier New', Courier, monospace;
    FONT-WEIGHT:10000PX;
    font-size: xx-large;
}
a{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

H2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    font-weight: 1000000PX;
    font-style: italic;
    text-decoration: double;
    COLOR:WHITE;
}

#fotter1{
    width:100%;
    height: 80px;
    background-color: #1b9bff;
   }
   .fotter{
    margin-left: 140PX;
   }
   #divbody1{
    background-image: url("https://th.bing.com/th/id/OIG4.7An5xadP7I5C2QjOshc3?pid=ImgGn");
    background-size: cover;
    width: 100%;
    height: 1600px;
   }
   #divbody3{
    display: flex;
    width:100%;
    height:150px;
    }
   #divbody2{
    display: flex;
    width:100%;
    height:150px;
    
   }
   h1{
   font-size:35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight:bold;
    text-align: center;
   }
   p{
    font-family: Arial, Helvetica, sans-serif;
    color:#a93e66;
    text-align: center;
    text-size-adjust: 25PX;
    font-size:x-large;
    font-style: italic;
}
#divbody4{
    display: flex;
    width:100%;
    height:150px;
}
#divbody5{
    display: flex;
    width:100%;
    height:150px;
}
#divbody6{
    display: flex;
    width:100%;
    height:150px;
}
#divbody7{
    display: flex;
    width:100%;
    height:150px;
}
#divbody8{
    display: flex;
    width:100%;
    height:150px;
}
#divbody9{
    display: flex;
    width:100%;
    height:150px;
}
#FIR1,#FIR1.HOVER{
    margin-left: 88%;
   margin-bottom: 10PX;
    color: lightpink;
}
input[type=BUTTON],HOVER {
    width: 100px;
    height: 30px;
    font-size: 15px;
    background-color: antiquewhite;
    BORDER:2PX SOLID lightpink;
    border-radius:10%;
    align-items: RIGHT;
    
}
#FIR2,#FIR2.HOVER{
    
  
    color: lightpink;
}
    
